




<!--<md-content>-->
	<!--<div layout-align="center" class="ng-scope layout-column">-->

		<!--&lt;!&ndash;컨텐츠 뷰 영역...&ndash;&gt;-->
		<!--<div class="flex-20">-->
			<!--<md-button>+</md-button>-->
			<!--<p>+를 클릭하여 새로운 space를 만들 수 있습니다.</p>-->
		<!--</div>-->

		<!--<div class="flex">-->

			<!--<div class="spaceItem">-->
				<!--<h2>따닥 사무실 01</h2>-->
				<!--<p>2Tasks, 2 Nodes 사용중</p>-->
				<!--<div><md-button>space 설정변경</md-button></div>-->


				<!--<div class="groupSection">-->

					<!--<div class="groupItem">-->

						<!--<div>-->
							<!--<h3>Group 01 (2 tasks 사용중)</h3>-->
							<!--<div><md-button>group 설정변경</md-button></div>-->
							<!--<div>-->
								<!--<span class="alarm">알람</span>-->
								<!--<span class="light">조명</span>-->
							<!--</div>-->
						<!--</div>-->

						<!--<div>-->
							<!--<h3>Group 02 (2 tasks 사용중)</h3>-->
							<!--<div><md-button>group 설정변경</md-button></div>-->
							<!--<div>-->
								<!--<span class="alarm">알람</span>-->
								<!--<span class="light">조명</span>-->
							<!--</div>-->
							<!--<span>사용가능</span>-->
						<!--</div>-->


					<!--</div>-->

				<!--</div>-->

			<!--</div>-->

		<!--</div>-->






	<!--</div>-->
<!--</md-content>-->



<!--space list...-->
<md-list>
	<!--space list item...-->
	<md-list-item>

		<div layout="row">
			<div flex>
				<h2>따닥 사무실 01</h2>
				<p>2 Tasks, 2 Nodes 사용중</p>
			</div>
			<div>
				<md-button ng-click="spaceSetUrl();">space 설정변경</md-button>
			</div>
		</div>

	</md-list-item>
	<md-divider ></md-divider>
</md-list>







<!--<md-list>-->

	<!--<md-subheader class="md-no-sticky">-->
		<!--<h2>따닥 사무실 01</h2>-->
		<!--<span>2 Tasks, 2 Nodes 사용중</span>-->
		<!--<md-button>space 설정변경</md-button>-->
	<!--</md-subheader>-->
	<!--<md-list-item class="md-3-line">-->

	<!--</md-list-item>-->
	<!--&lt;!&ndash;<md-list-item class="md-3-line" ng-repeat="item in todos">&ndash;&gt;-->
		<!--&lt;!&ndash;<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />&ndash;&gt;-->
		<!--&lt;!&ndash;<div class="md-list-item-text" layout="column">&ndash;&gt;-->
			<!--&lt;!&ndash;<h3>{{ item.who }}</h3>&ndash;&gt;-->
			<!--&lt;!&ndash;<h4>{{ item.what }}</h4>&ndash;&gt;-->
			<!--&lt;!&ndash;<p>{{ item.notes }}</p>&ndash;&gt;-->
		<!--&lt;!&ndash;</div>&ndash;&gt;-->
	<!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->

	<!--&lt;!&ndash;<md-list-item class="md-3-line" ng-repeat="item in todos">&ndash;&gt;-->
		<!--&lt;!&ndash;<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />&ndash;&gt;-->
		<!--&lt;!&ndash;<div class="md-list-item-text" layout="column">&ndash;&gt;-->
			<!--&lt;!&ndash;<h3>{{ item.who }}</h3>&ndash;&gt;-->
			<!--&lt;!&ndash;<h4>{{ item.what }}</h4>&ndash;&gt;-->
			<!--&lt;!&ndash;<p>{{ item.notes }}</p>&ndash;&gt;-->
		<!--&lt;!&ndash;</div>&ndash;&gt;-->
	<!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->

	<!--&lt;!&ndash;선&ndash;&gt;-->
	<!--<md-divider ></md-divider>-->

	<!--&lt;!&ndash;<md-subheader class="md-no-sticky">2 line item</md-subheader>&ndash;&gt;-->
	<!--&lt;!&ndash;<md-list-item class="md-2-line">&ndash;&gt;-->
		<!--&lt;!&ndash;<img ng-src="{{todos[0].face}}?20" class="md-avatar" alt="{{todos[0].who}}" />&ndash;&gt;-->
		<!--&lt;!&ndash;<div class="md-list-item-text">&ndash;&gt;-->
			<!--&lt;!&ndash;<h3>{{ todos[0].who }}</h3>&ndash;&gt;-->
			<!--&lt;!&ndash;<p>Secondary text</p>&ndash;&gt;-->
		<!--&lt;!&ndash;</div>&ndash;&gt;-->
	<!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->

<!--</md-list>-->