<md-content layout-gt-sm="row" layout-padding="">
	<div layout-align="center">
		<div class="spaceAddBtn">
			<md-button>+</md-button>
			<p>+를 클릭하여 새로운 space를 만들 수 있습니다.</p>
		</div>
		<div class="spaceSection">

			<div class="spaceItem">
				<h2>따닥 사무실 01</h2>
				<p>2Tasks, 2 Nodes 사용중</p>
				<div><md-button>space 설정변경</md-button></div>


				<div class="groupSection">

					<div class="groupItem">

						<div>
							<h3>Group 01 (2 tasks 사용중)</h3>
							<div><md-button>group 설정변경</md-button></div>
							<div>
								<span class="alarm">알람</span>
								<span class="light">조명</span>
							</div>
						</div>

						<div>
							<h3>Group 02 (2 tasks 사용중)</h3>
							<div><md-button>group 설정변경</md-button></div>
							<div>
								<span class="alarm">알람</span>
								<span class="light">조명</span>
							</div>
							<span>사용가능</span>
						</div>


					</div>

				</div>

			</div>

		</div>

	</div>
</md-content>