<md-content layout="column" layout-align="center center">

	<div style="background-color: #473B30;width: 100%;text-align: center;color: #fff;border-top:1px solid #655240;font-size: 0;">
		<!--<md-button ng-click="tabEvent('group')">Group</md-button>-->
		<div style="display:inline-block;width: 50%;">
			<md-button style="width:100%;" ng-click="tabEvent('taskAdd')">Task 추가</md-button>
		</div>
		<div style="display:inline-block;width: 50%;">
			<md-button style="width:100%;border-left:1px solid #655240;"ng-click="tabEvent('groupAuthMethod')">그룹인증방식</md-button>
		</div>
	</div>
	<div ng-include src="template.url" style="width: 100%;text-align: center;"></div>

</md-content>

<script type="text/ng-template" id="group.html">
메인에서 그룹설정에서 변경해주세요.(개발진행중...)
</script>
<script type="text/ng-template" id="taskAdd.html">
	<div style="background-color: #201442;height: 100%;text-align: left;">
		<md-button ng-repeat="category in categorys" ng-click="categoryLocation(category)" style="margin:16px;width:auto;" aria-label="btn">
			<div>
				<md-icon style="width:94px;height:88px;margin:0;">
					<!--{{category}}-->
					<img ng-if="category == 'ALARM'" src="http://192.168.0.201/ttadag_app/assets/images/K-1_alarm.png" style="width:100%;height:100%;"/>
					<img ng-if="category == 'LIGHT'" src="http://192.168.0.201/ttadag_app/assets/images/K-0_light_02.png" style="width:100%;height:100%;"/>
					<img ng-if="category == 'SPEAKER'" src="http://192.168.0.201/ttadag_app/assets/images/K-0_radio_02.png" style="width:100%;height:100%;"/>
					<img ng-if="category == 'BUTTON'" src="http://192.168.0.201/ttadag_app/assets/images/K-0_button_02.png" style="width:100%;height:100%;"/>
				</md-icon>
			</div>
			<div>
				<span style="color:#fff;">{{category}}</span>
			</div>
		</md-button>
	</div>
</script>
<script type="text/ng-template" id="groupAuthMethod.html">
그룹인증방식 개발 진행중입니다.
</script>