<md-content layout="column" layout-align="center center">
	<h1>Welcome to button!</h1>

	<form name="userForm">

		<!--이메일 입력-->
		<md-input-container class="md-block">
			<label>이메일</label>
			<input required type="email" name="email" ng-model="user.email" ng-pattern="/^.+@.+\..+$/" />
			<div ng-messages="userForm.email.$error" role="alert">
				<!--<div class="errors" ng-messages="userForm.email.$error" ng-if="userForm.$dirty">-->
				<div ng-message-exp="['required', 'pattern']">
					정확한 이메일을 작성해주세요.
				</div>
				<!--<div ng-message="required">필수입력값.</div>-->
				<!--<div ng-message="pattern">형식에 맞게 넣어주세요.</div>-->
			</div>
		</md-input-container>

		<!--패스워드 입력-->
		<md-input-container class="md-block">
			<label>비밀번호</label>
			<input required type="password" name="password" ng-model="user.password" minlength="8" maxlength="20"/>
			<div ng-messages="userForm.password.$error" role="alert">
				<div ng-message-exp="['required', 'minlength', 'maxlength']">
					영문, 숫자 조합 8~20자로 입력해주세요.
				</div>
			</div>
		</md-input-container>

		<!--<md-button ng-click="addAccount()" class="md-block md-primary" ng-disabled="userForm.$invalid || !user.isAcceptCheck">Create account</md-button>-->
		<md-button ng-click="resetPassword();">> 비밀번호 재설정</md-button>
		<md-button class="md-raised" ng-click="loginAction();">로그인</md-button>
		<md-button class="md-raised" ng-click="FBLogin();">페이스북 로그인</md-button>
	</form>
	<div>by ttadag!</div>
</md-content>





<!--<md-content layout-gt-sm="row" layout-padding="">-->
	<!--<div layout-align="center">-->

		<!--<h1>Welcome to button!</h1>-->

		<!--<md-input-container>-->
			<!--<label>이메일</label>-->
			<!--<input ng-model="user.email" type="email">-->
		<!--</md-input-container>-->

		<!--<md-input-container>-->
			<!--<label>비밀번호</label>-->
			<!--<input ng-model="user.password" type="password">-->
		<!--</md-input-container>-->

		<!--<div layout="row" layout-sm="column" layout-align="center center" layout-wrap>-->
			<!--<md-button ng-click="resetPassword();">> 비밀번호 재설정</md-button>-->
			<!--<md-button class="md-raised" ng-click="loginAction();">로그인</md-button>-->
			<!--<md-button class="md-raised" ng-click="FBLogin();">페이스북 로그인</md-button>-->
		<!--</div>-->

		<!--<div>by ttadag!</div>-->
	<!--</div>-->
<!--</md-content>-->