<md-content layout="column" layout-align="center center" style="margin-top:0;">
	<div style="width:100%;height: 100%;text-align: center;background-color: #474747;position:relative;">
		<div style="position: absolute;top: 50%;margin-top: -123px;">
			<p style="color:#fff;">
				Button 가운데를 눌러 <br/>사용인증을 받으세요.<br/>
				인증과 동시에 사용가능합니다.<br/>
				남은 시간 : {{count}}초<br/>
			</p>
			<img src="http://ttadag.ipdisk.co.kr/ttadag_app/assets/images/E-0_img.png" style="width: 70%"/>
		</div>
	</div>
</md-content>
