<!DOCTYPE>
<html ng-app="ttadagApp">
<head>
	<title>Ttadag!!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link href="libs/angular-material/angular-material.css" rel="stylesheet" />
	<style type="text/css">
		app-containers{border:1px solid;}
	</style>
</head>

<body ng-controller="TtadagAppController">

<div class="containers" layout="column">

	<app-header flex="20"></app-header>

	<!--<div class="app-containers">-->
	<app-containers>

		<!--contentChange가 발생할곳...-->
		<ng-view></ng-view>

	</app-containers>
	<!--<div class="app-footer"></div>-->


	<app-footer flex="20">

	</app-footer>

	<!--
	이곳에서 팝업창이 나타남. 추후에 테스트 필요함...
	-->
	<!--<div ng-if="alert">-->
		<!--<br>-->
		<!--<b layout="row" layout-align="center center" class="md-padding">-->
			<!--{{alert}}-->
		<!--</b>-->
	<!--</div>-->


	<script type="text/ng-template" id="testSimple01.tmp.html">
		<md-bottom-sheet class="md-list md-has-header" ng-cloak>
			<md-subheader>Comment Actions</md-subheader>
			<div>
				email 또는 비밀번호가 잘못 입력되었습니다.<br/>
				다시 입력해주세요.
				<hr/>
				비밀번호가 기억이 나지 않으세요?
				<md-button ng-click="listItemClick('9999')">
					<div> email로 재설정하기</div>
				</md-button>
			</div>
		</md-bottom-sheet>
	</script>

	<script type="text/ng-template" id="testSimple02.tmp.html">
		<md-bottom-sheet class="md-list md-has-header" ng-cloak>
			<div>
				비밀번호를 재설정하실 수 있는 <br/>
				email을 보냈습니다.
			</div>
		</md-bottom-sheet>
	</script>
</div>

	<script src="libs/angular/angular.js"></script>

	<!-- Angular Material Dependencies -->
	<script src="libs/angular-route/angular-route.js"></script>
	<script src="libs/angular-animate/angular-animate.js"></script>
	<script src="libs/angular-aria/angular-aria.js"></script>
	<script src="libs/angular-material/angular-material.js"></script>
	<script src="libs/angular-messages/angular-messages.js"></script>

	<script src="app.module.js"></script>
	<script src="app.routes.js"></script>
	<script src="components/home/homeController.js"></script>
	<script src="components/account/signIn/signInController.js"></script>
	<script src="components/account/signUp/signUpController.js"></script>
	<script src="components/spaceGroupList/spaceGroupListController.js"></script>
	<script src="components/spaceTaskList/spaceTaskListController.js"></script>


</body>
</html>