<md-content layout="column" layout-align="center center" ng-cloak>
	<div ng-if="template.url !== 'ALARM.html'" style="position:relative;width:100%;min-width:414px;min-height: 154px;width:100%;background:#8c9eff url('http://192.168.0.201/ttadag_app/assets/images/K-1_light_bg.png') no-repeat center center; background-size: 100%;">
		<div style="position: absolute;top: 50%;margin-top: -47px;width: 100%;">
			<div style="text-align: center;">
				<md-icon ng-repeat="nodeName in nodeNames" style="margin: 0 1px 1px 1px;width:auto;">
					<md-button ng-click="nodeClick(nodeName)" style="margin: 0px;" aria-label="btn">
						<!--<div>-->
						<img ng-if="nodeName === 'LIGHT'" src="http://192.168.0.201/ttadag_app/assets/images/D-0_light.png" style="width:50%;"/>
						<img ng-if="nodeName === 'ALARM'" src="http://192.168.0.201/ttadag_app/assets/images/D-0_alarm.png" style="width:50%;"/>
						<img ng-if="nodeName === 'SPEAKER'" src="http://192.168.0.201/ttadag_app/assets/images/D-0_sound.png" style="width:50%;"/>
						<img ng-if="nodeName === 'BUTTON'" src="http://192.168.0.201/ttadag_app/assets/images/D-0_button.png" style="width:50%;"/>
						<!--</div>-->
						<!--{{nodeName}}-->
					</md-button>
				</md-icon>
			</div>
			<p style="margin-top:35px;text-align: center;color:#fff;">{{alias}}</p>
		</div>
	</div>

	<div ng-if="template.url === 'ALARM.html'" style="position:relative;width:100%;min-width:414px;min-height: 154px;width:100%;background:#8c9eff url('http://192.168.0.201/ttadag_app/assets/images/K-1_alarm_bg.png') no-repeat center center; background-size: 100%;">
		<div style="position: absolute;top: 50%;margin-top: -47px;width: 100%;">
			<div style="text-align: center;">
				<md-icon ng-repeat="nodeName in nodeNames" style="margin: 0 1px 1px 1px;width:auto;">
					<md-button ng-click="nodeClick(nodeName)" style="margin: 0px;" aria-label="btn">
						<img ng-if="nodeName === 'LIGHT'" src="http://192.168.0.201/ttadag_app/assets/images/D-0_light.png" style="width:50%;"/>
						<img ng-if="nodeName === 'ALARM'" src="http://192.168.0.201/ttadag_app/assets/images/D-0_alarm.png" style="width:50%;"/>
						<img ng-if="nodeName === 'SPEAKER'" src="http://192.168.0.201/ttadag_app/assets/images/D-0_sound.png" style="width:50%;"/>
						<img ng-if="nodeName === 'BUTTON'" src="http://192.168.0.201/ttadag_app/assets/images/D-0_button.png" style="width:50%;"/>
					</md-button>
				</md-icon>
			</div>
			<p style="margin-top:35px;text-align: center;color:#fff;">{{alias}}</p>
		</div>
	</div>

	<div style="width:100%;height:100%;background-color: #392D5B">
		<div style="margin:0 5%;">
			<div ng-include src="template.url" style="width: 100%;text-align: center;"></div>
			<div><md-button style="width:100%;margin:0;background-color:#9574F6;color:#fff;"ng-click="taskEditsave()">OK</md-button></div>
		</div>
	</div>

</md-content>



<!-- template1.html -->
<script type="text/ng-template" id="ALARM.html">

	<div style="margin-top:20px;color:#fff;">TIME</div>
	<md-select ng-model="taskUnits.ALARM.hours" aria-label="test" style="display: inline-block;color:#fff;">
		<md-option ng-repeat="hour in hours" value="{{hour.value}}" >
			{{hour.displayName}}
		</md-option>
	</md-select>
	<span style="color:#fff;">:</span>
	<md-select ng-model="taskUnits.ALARM.minutes" aria-label="test" style="display: inline-block;color:#fff;">
		<md-option ng-repeat="minute in minutes" value="{{minute.value}}" >
			{{minute.displayName}}
		</md-option>
	</md-select>
	<md-divider style="border-top-color:#3F3460"></md-divider>
	<div style="margin-top:20px;color:#fff;">DAY</div>
	<div layout="row" layout-wrap="">

		<div flex="100" flex-gt-sm="50" layout="column">
			<div style="margin-top:20px;">
				<!--<div flex="50" ng-repeat="item in items">-->
					<!--<md-checkbox ng-checked="exists(item, taskUnits.ALARM.week)" ng-click="toggle(item, taskUnits.ALARM.week)">-->
						<!--<span style="color:#fff;">{{ weeksText[item] }}</span>-->
					<!--</md-checkbox>-->
					<md-button style="margin:0;min-height:0;min-width:0;" ng-repeat="item in items" aria-label="btn" ng-click="toggle(item, taskUnits.ALARM.week)">
						<!--{{exists(item, taskUnits.ALARM.week)}}-->
						<span ng-if="!exists(item, taskUnits.ALARM.week)" style="color:#fff;width: 40px;display: inline-block;border-radius: 30px;">{{ weeksText[item] }}</span>
						<span ng-if="exists(item, taskUnits.ALARM.week)" style="color:#392D5B;background-color:#fff;width: 40px;display: inline-block;border-radius: 30px;">{{ weeksText[item] }}</span>
					</md-button>
				<!--</div>-->
			</div>
		</div>
	</div>
	<br/>
	<md-checkbox style="color:#fff;" ng-model="taskUnits.ALARM.recursive" aria-label="repeat">반복하기</md-checkbox>
	<br/>
</script>

<!-- template2.html -->
<script type="text/ng-template" id="LIGHT.html">
	<div>
		<div>ON/OFF</div>
		<md-switch ng-model="taskUnits.LIGHT.power" aria-label="on/off"></md-switch>
	</div>
	<md-divider ></md-divider>
	<div>
		<div>COLOR</div>
		<!--{{colorData.color}}-->
		<md-radio-group ng-model="taskUnits.LIGHT.color">
			<md-radio-button value="255,255,255" class="md-primary">white</md-radio-button>
			<md-radio-button value="255,0,0" class="md-primary">red</md-radio-button>
			<md-radio-button value="255,94,0" class="md-primary">orange</md-radio-button>
			<md-radio-button value="0,216,255" class="md-primary">blue</md-radio-button>
			<md-radio-button value="29,219,22" class="md-primary">green</md-radio-button>
			<md-radio-button value="255,0,221" class="md-primary">violet</md-radio-button>
			<md-radio-button value="255,255,0" class="md-primary">yellow</md-radio-button>
		</md-radio-group>
		<br/>
	</div>
	<div>
		<md-divider ></md-divider>
		<div>INTENSITY</div>
		<md-slider flex min="0" max="10" ng-model="taskUnits.LIGHT.intensity" aria-label="intensity">
	</div>
</script>

<!-- template3.html -->
<script type="text/ng-template" id="SPEAKER.html">
	<div>
		<div>ON/OFF</div>
		<md-switch ng-model="taskUnits.SPEAKER.power" aria-label="on/off"></md-switch>
	</div>
	<md-divider ></md-divider>
	<div>
		<div>VOLUME</div>
		<md-slider flex min="0" max="10" ng-model="taskUnits.SPEAKER.volume" aria-label="volume">
	</div>
	<md-divider ></md-divider>
	<div>
		<div>라디오 추가예정..</div>
	</div>
</script>