<div ng-controller="headerController" ng-style="header01">
	<!--<a href="#/">최초</a>-->
	<!--<a href="#/account/signIn">로그인</a>-->
	<!--<a href="#/account/signUp">회원가입</a>-->

	<div ng-include src="template.url">

	</div>

	<!--<a href="#/space/groupList">메인</a>-->


	<script type="text/ng-template" id="header01.html">
		<md-button style="margin:0;color:#fff" ng-click="headerEvent('signIn')">로그인</md-button>
		<span style="color:#66626F;">|</span>
		<md-button style="margin:0;color:#fff;" ng-click="headerEvent('signUp')">회원가입</md-button>
	</script>

	<script type="text/ng-template" id="header02.html">
		<div style="color:#fff;position:relative;">
			<h1>button</h1> <span style="position: absolute;right: 7%;top: 50%;margin-top: -10px;">name</span>
		</div>
	</script>
</div>


