<md-content layout="column" layout-align="center center">
	<div ng-show="cookiesInfoIsAuthorize">
		<md-button> + 스페이스 추가</md-button>
		<p>+를 클릭하여 새로운 space를 만들 수 있습니다.</p>
	</div>

	<!--space list... start-->
	<md-list>
		<!--space list item... start-->
		<md-list-item ng-repeat="spaceItem in space">
			<div layout="column" layout-wrap>
				<div layout="row" style="position:relative;width:100%;">
					<md-button ng-click="spaceTaskListLocation(spaceItem.id, 'space')" style="position: relative;width: 100%;">
						<h2 style="text-align: left;">{{spaceItem.name}}</h2>
						<p>{{spaceItem.enableTaskCount}} Tasks, {{spaceItem.enableNodeCount}}Nodes 사용중</p>
					</md-button>
					<div style="position:absolute;right:0;">
						<md-button ng-click="spaceSetUrl();">space 설정변경</md-button>
					</div>
				</div>
				<md-list>
					<md-list-item ng-repeat="item in spaceItem.groups">
						<div layout="row" style="position:relative;width:100%;">
							<md-button ng-click="spaceGroupTaskListLocation(item.id, 'group')" style="position: relative;width: 100%;">
								<h3 style="text-align: left;">{{item.alias}}({{item.enableTaskCount}} tasks)</h3>
								<md-icon ng-repeat="unit in item.units" style=" margin: 5px;margin-top: 0;width: auto;height: 24px;">{{unit}}</md-icon>
								<md-icon ng-if="!usable" style="margin: 0px;width: auto;height: 24px;">사용가능</md-icon>
							</md-button>
							<div style="position:absolute;right:0;">
								<md-button ng-click="groupSetUrl(item.alias)">group 설졍변경</md-button>
							</div>
						</div>
					</md-list-item>
				</md-list>
			</div>
		</md-list-item>
		<!--space list item end-->
		<!--라인 추가-->
		<md-divider ></md-divider>
	</md-list>
<!--space list... end-->
</md-content>