<md-content layout="column" layout-align="center center">
	<div style="background: #343434 url('http://192.168.0.201/ttadag_app/assets/images/D-0_top.png') no-repeat;background-size: 100%;width: 100%;height: 119px;">

		<div ng-show="cookiesInfoIsAuthorize">
			<md-button> + 스페이스 추가</md-button>
			<p>+를 클릭하여 새로운 space를 만들 수 있습니다.</p>
		</div>
	</div>

	<!--space list... start-->
	<div style="width: 100%;height: 100%;background-color: #6D6D6D;">
		<md-list style="margin:0 10%;">
			<!--space list item... start-->
			<md-list-item ng-repeat="spaceItem in space">
				<div layout="column" layout-wrap style="width: 100%;">
					<div layout="row" style="position:relative;width:100%;">
						<md-button ng-click="spaceTaskListLocation(spaceItem.id, 'space')" aria-label="btn">
							<h2 style="text-align: left;color:#fff;">{{spaceItem.name}}</h2>
							<p style="text-align:left;color:#fff;">{{spaceItem.enableTaskCount}} Tasks, {{spaceItem.enableNodeCount}}Nodes 사용중</p>
						</md-button>
						<div style="position:absolute;right:0;width:23%;">
							<md-button aria-label="btn" ng-click="spaceSetUrl();"><img src="http://192.168.0.201/ttadag_app/assets/images/D-0_option_01.png" style="width:23px;height:23px;"/></md-button>
						</div>
					</div>
					<md-list>
						<md-list-item ng-repeat="item in spaceItem.groups" style="margin-top:10px;background-color: #fff;">
							<div layout="row" style="position:relative;width:100%;">
								<md-button ng-click="spaceGroupTaskListLocation(item.id, 'group')" style="position: relative;width: 100%;">
									<h3 style="text-align: left;">{{item.alias}}({{item.enableTaskCount}} tasks)</h3>
									<div style="text-align: left;">
										<md-icon ng-repeat="unit in item.units" style="margin:0 5px 5px 5px;width: auto;height: 24px;">
											<img ng-if="unit == 'ALARM'" src="http://192.168.0.201/ttadag_app/assets/images/D-0_alarm.png" style="width:25px;height:25px;"/>
											<img ng-if="unit == 'LIGHT'" src="http://192.168.0.201/ttadag_app/assets/images/D-0_light.png" style="width:25px;height:25px;"/>
											<img ng-if="unit == 'SPEAKER'" src="http://192.168.0.201/ttadag_app/assets/images/D-0_sound.png" style="width:25px;height:25px;"/>
											<img ng-if="unit == 'BUTTON'" src="http://192.168.0.201/ttadag_app/assets/images/D-0_button.png" style="width:25px;height:25px;"/>
										</md-icon>
									</div>
									<md-icon ng-if="!usable" style="margin: 0px;width: auto;padding: 0px 10px 9px 10px;height: 18px;position: absolute;bottom: 0;right: 0;background-color: #9574F6;border-radius: 20px;color:#fff;">사용가능</md-icon>
								</md-button>
								<div style="position:absolute;right:0;">
									<md-button aria-label="btn" ng-click="groupSettingLocation(item.id)" style="margin-left:0;margin-right:0;margin-bottom:0;padding:0;"><img src="http://192.168.0.201/ttadag_app/assets/images/D-0_option_02.png" style="width:23px;height:23px;"/></md-button>
								</div>
							</div>
						</md-list-item>
					</md-list>
				</div>
			</md-list-item>
			<!--space list item end-->
			<!--라인 추가-->
			<md-divider style="background-color: #838383;height: 1px;"></md-divider>
		</md-list>
	</div>
<!--space list... end-->
</md-content>