<md-content layout="column" layout-align="center center">
	<md-input-container class="md-block">
		<h3>Group 이름</h3>
		<input type="text" name="name" ng-model="alias" placeholder="변경할 이름을 입력해주세요">
	</md-input-container>

	<div>
		<h3>Group 나가기</h3>
		<md-button>지금 나가기</md-button>
	</div>

	<div>
		<h3>연결된 사용자 해제</h3>
		<md-button>연결된 사용자 해제</md-button>
		<p>Button을 끄고 켜면 현 상태에서 그룹 사용자 상태가 초기화 됩니다.</p>
	</div>

	<div>
		<h3>사용 정지하기</h3>
		<md-button>사용 정지하기</md-button>
		<p>사용자가 다시 사용하기 위해서는 사용 정지하기 버튼을 선택하고 해당 Button의 클릭을 통해 재인증해주세요.</p>
	</div>
</md-content>
